<%= render 'navigation' %>
<h1>Owner Dashboard</h1>
<div class="container dashboard-container">
<div class="user-msg pb-5">
<div class="text-center">
    <i class="fas fa-user"></i>
    <h3 class="purple-txt">Welcome <span id="user"></span></h3>
    <h6 class="text-muted">
    Here's an overview of your Cafeteria
    </h6>
</div>
</div>
<div class="row card-container">
<div class="col-lg-4">
    <div
    class="card text-center card-dashboard pt-2 pb-2 shadow p-3 mb-5 bg-white rounded hvr-float"
    >
    <div class="card-body">
        <i class="fas fa-bookmark"></i>
        <h5 class="card-title mt-2">Total Sales Today</h5>
        <p class="card-title count">
        <span id="existingTotal"><%= @totalSalesToday %></span>
        </p>
    </div>
    </div>
</div>
<div class="col-lg-4">
    <div
    class="card text-center bg-light card-dashboard pt-2 pb-2 shadow p-3 mb-5 bg-white rounded hvr-float"
    >
    <div class="card-body">
        <i class="fas fa-file-signature"></i>
        <h5 class="card-title mt-2">Total Orders Today</h5>
        <p class="card-title">
        <span id="newTotal"><%= @totalOrdersToday %></span>
        </p>
    </div>
    </div>
</div>
<div class="col-lg-4">
    <div
    class="card text-center bg-light card-dashboard pt-2 pb-2 shadow p-3 mb-5 bg-white rounded hvr-float"
    >
    <div class="card-body mt-2">
        <i class="fas fa-book-open"></i>
        <h5 class="card-title">Total Sales This Week</h5>
        <p class="card-title">
        <span id="completedTotal"><%= @totalSalesWeek %></span>
        </p>
    </div>
    </div>
</div>
</div>
</div>