<h1>Home Page</h1>
<%= link_to "Cafeteria User Login", signin_path %>
<%= link_to "Cafeteria User Signup", signup_path %>
<%= link_to "Customer Signup", customerSignup_path %>
<%= link_to "Customer Login", customerSignin_path %>

