<h1>Home Page</h1>
<%= link_to "Cafeteria User Login", signin_path %>
<%= link_to "Customer Signup", customerSignup_path %>
<%= link_to "Customer Login", customerSignin_path %>
<%= link_to "Owner Login", ownerSignin_path %>

